<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Commands Manager</title>
    </head>
    <body onload="app.initApplication()">
        <div class="version-box">Version 0.0.1</div>

        <%= htmlWebpackPlugin.options.groupsView %>

        <footer></footer>

        <script><%= compilation.assets["main-bundle.js"].source() %></script>
    </body>
</html>
