<div *ngIf="(group$ | async) as group">
    <p-panel [header]="group.id">
        <div class="card">
            <div class="flex card-container">
                <div class="flex-2  mr-4">
                    <a [routerLink]="['/groups', group.id, 'commands', 'new']">
                        <p-button label="Add new command" icon="pi pi-code"></p-button>
                    </a>
                </div>

                <div class="flex-1">
                    <form (ngSubmit)="addNewGroup()" #newGroupForm="ngForm">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-box"></i>
                        </span>

                        <input
                            pInputText
                            name="newGroupName"
                            [(ngModel)]="newGroupName"
                            placeholder="Add new group"
                            required />

                        <button
                            type="submit"
                            pButton
                            icon="pi pi-check"
                            [disabled]="!newGroupForm.form.valid"></button>
                    </div>
                </form>
                </div>
            </div>
        </div>

        <h3>Edit group</h3>
        ...
    </p-panel>
</div>